<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45E7382D1E9BEC1000C35096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45E738431E9BEC1000C35096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45E7384E1E9BEC1000C35096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
